body{background:#eee}.ratings 
i{font-size: 16px;color: red}
.strike-text{color: red;text-decoration: line-through}
.product-image{width: 100%}
.dot{height: 7px;width: 7px;margin-left: 6px;margin-right: 6px;margin-top: 3px;background-color: blue;border-radius: 50%;display: inline-block}
.spec-1{color: #938787;font-size: 15px}
h5{font-weight: 400}.para{font-size: 16px}
.fa-plus-circle:before{content:"\f055"}
.fa-plus:before{content:"\f067"}
.fa-plus-square:before{content:"\f0fe"}
.fa-plus-square-o:before{content:"\f196"}
.fa-minus-circle:before{content:"\f056"}
.fa-minus:before{content:"\f068"}
.fa-minus-square:before{content:"\f146"}
.fa-minus-square-o:before{content:"\f147"}
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}