{% extends 'top-nav.html' %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static '/LMSA/cart.css' %}">
{% endblock %}
{% block title %} View Cart {% endblock %}
{% block content %}
    <div class="container mt-5 mb-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10">
                {% for product in cart_products %}
                <div class="row p-2 bg-white border rounded">
                    <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ product.PID.Image.url }}"></div>
                    <div class="col-md-6 mt-1">
                        <h5>{{ product.PID.Name }}</h5>
                        <div class="d-flex flex-row">
                            <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                        </div>
                        <div class="mt-1 mb-1 spec-1"><span class="dot"></span><span>ISBN10: {{ product.PID.ISBN10 }}</span></div>
                        <div class="mt-1 mb-1 spec-1"><span class="dot"></span><span>Author: {{ product.PID.Author }}</span></div>
                        <p class="text-justify text-truncate para mb-0">Description: {{ product.PID.Description }}<br><br></p>
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                        <div class="d-flex flex-row align-items-center">
                            <h4 class="mr-1">₹ {{ product.PID.Price }}</h4>
                        </div>
                        <h6 class="text-success">Free shipping</h6>
                        <div class="d-flex flex-column mt-4">
                        <div class="d-flex flex-row align-items-center">
                            <form method="POST" action="{% url 'ChangeQuantity' %}">
                                    {% csrf_token %}
                                    <div class="col-md-16 mb-3">
                                        <div class="qty-container">
                                            <div class="quantity">
                                              <button class="minus" aria-label="Decrease" type="submit" name="changequantitybutton" value="-">&minus;</button>
                                                <input type="hidden" class="input-box" value="{{product.PID_id}}" name="PID">
                                              <input type="number" class="input-box" value="{{product.Quantity}}" name="" readonly>
                                              <button class="plus" aria-label="Increase" type="submit" name="changequantitybutton" value="+">&plus;</button>
                                            </div>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <a href="{% url 'OrderCheckout' %}" class="btn btn-primary btn-lg btn-block mt-5" role="button">
            Place Order
            </a><br>
        </div>
    </div>
    <script src="{% static '/LMSA/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static '/LMSA/bootstrap.min.js' %}"></script>
    <script src="{% static '/LMSA/popper.min.js' %}"></script>
{% endblock %}